/* impostazioni base */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Open Sans',sans-serif;
    min-width: 1440px;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/******************
header
***************** */
.navbar div{
    width: 50%;
}
#site_header{
    position: fixed;
    width: 100%;
}
/******************
*********** main */

/*****************
******** footer */

/* utility */
#site_header div{
    float: left;
}
.txt_end{
    text-align: end;
}

/* debug class */
.debug .navbar div{
    height: 5rem;
}
.debug .navbar div:last-child{
    background-color: blueviolet;
}
.debug .navbar div:first-child{
    background-color: blue;
}