/* impostazioni base */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Open Sans',sans-serif;
    min-width: 1440px;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.macrocontenitore{
    width: 70%;
    margin: 10rem auto;
}
/******************
header
***************** */
#site_header{
    position: fixed;
    width: 100%;
    height: 4rem;
    top: 0;
    left: 0;
    font-size: .78rem;
    background-color: white;
    z-index: 1000;
}
.sx,.dx{
    text-align: center;
    width: 45%;
}
.dx{
    float: right;
}
.sx div,.dx div{
    width: 25%;
    line-height: 4rem;
}
.sx img{
    width: 80%;
    padding-top: 1.3rem;
}
/******************
*********** main */

/* hero_image */
.hero_image{
    background-color: #B4D0E7;
    margin-top: 4rem;
}
.contenitore1{
    margin: auto;
    width: 90%;
}
h1{
    font-size: 4.5rem;
    padding-top: 4.5rem;
    padding-bottom: 2rem;
}
.contenitore1 .row{
    padding-top: 2rem;
}
.contenitore1 p{
    margin-bottom: 2rem;
}
.last_txt_hero{
    margin: 1rem 0;
}
.arrow{
    font-size: 3rem;
    margin-top: 2rem;
    padding-bottom: 5rem;
}
.uno{
    width: 30%;
}
.due{
    width: 70%;
}
.image{
    position: relative;
    top:0;
    left:0;
}
.img1{
    position: absolute; 
    top: 0rem;
    left: 5rem;  
    z-index: 1;
}
.img1 > img{
    width: 50rem;
}
/* buisness_plane */
.buisness_plane h2{
    font-size: 2.2rem;
}
.payment_time{
    margin: 1rem 0;
    line-height: 2rem;
}
.circle{
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid lightgrey;
}
.buisness_plane span{
    margin-right: 1rem;
}
.small .bordo{
    border: 1px solid lightgrey;
    padding: .5rem 2rem;
}
.bordo h3{
    margin: 1rem 0;
    font-size: 1.5rem;
}
.small{
    width: 33%;
    padding:0 1rem;
}
.buisness_tab ul{
    list-style:none;
}
.buisness_tab li{
    margin: 1.5rem 0;
    font-size: .9rem;
}
.bordo .bottone{
    margin: 2rem 0;
}
.blue_link{
    color: blue;
    text-decoration: underline;
}
.large{
    width: 100%;
    margin-top: 1rem;
}
.buisness_tab hr{
    margin-top: 1.5rem;
    margin-bottom: 3rem;
    width: 3rem;
    border: 1px solid lightgrey;
}
/* partner */

/*****************
******** footer */

/* utility */
.sx,.small,.large,.img_txt div,.sx div,.dx div,.colonna{
    float: left;
}
.blue_btn{
    background-color: #0061FF;
    padding: .3rem 1rem;
    color: white;
}
a{
    text-decoration: none;
    color: black;
}
.img_txt div{
    width: 50%;
}
.blue_bord{
    border: 3px solid blue;
}
.center{
    text-align: center;
}
.grey{
    color: grey;
    margin-top: 1rem;
    margin-bottom: 3rem;
}

/* debug class */
/* .debug .navbar div{
    height: 5rem;
}
.debug .navbar div:last-child{
    background-color: blueviolet;
}
.debug .navbar div:first-child{
    background-color: blue;
}
.debug .contenitore1{
    background-color: cornflowerblue;
    height: 40rem;
}
.debug .small{
    background-color: darkblue;
    height: 30rem;
}
.debug .large{
    height: 10rem;
    background-color: darkolivegreen;
}
.debug h2{
    height: 7rem;
    background-color: darkorange;
}
.debug .img_txt div{
    background-color: darkorchid;
    height: 15rem;
    
} */