/* genrali */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    min-width: 1440px;
    font-family:'Open Sans',sans-serif;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
/********************* header */
header{
    position: fixed;
    height: 4rem;
    width: 100%;
    z-index: 100;
    background-color: white;
}
.logo a,.botton,.menu{
    line-height: 4rem;
}
.logo img{
    height: 2rem;
    vertical-align: middle;
    padding: 0 1rem;
}

.menu{
    margin: 0 2rem;
}
header ul{
    list-style: none;
}
/* tendina a scomparsa */
.tendina{
    display: none;
}
.principale:hover .tendina{
    display: inline-block;
    background-color: white;
    padding: 0 1rem;
}
.icon2{
    display: none;
}
.principale:hover .icon2{
    display: inline-block;
}
.principale:hover .icon1{
    display: none;
}
/********************** main */
.hero_image{
    position: relative;
    height: 50rem;
}
.hero_image img{
    width: 100%;
    filter: saturate(.5);
    position: absolute;
    top: 0;
    left: 0;
}
h1{
    position: absolute;
    margin-top: 5rem;
    top: 0;
    left: 3rem;
    color: white;
    font-size: 5rem;
    width: 50%;
    padding: 1rem;
    background-color: #afafaf7a;
    border-radius: 3rem;
}
.big_txt{
    color:#217EF5 ;
    font-size: 8rem;
}
/* tabella aziende */
.tab_society{
    text-align: center;
}
.tab_society h2{
    font-size: 2rem;
    margin-bottom: 2rem;
}
.tab div{
    height: 10rem;
    border: 1px solid wheat;
    color: white;
}
/* dati */
.dati{
    margin-top: 4rem;
}
.dati .col_33{
    padding: 0 2rem;
}
.dati .row{
    margin: 0 -2rem;
}
.dati h2{
    font-size: 2rem;
}
.dati h4{
    margin: 1rem 0;
}
/* video con testo a fianco */
.video_txt{
    background-color: #f9f9f9;
    padding: 3rem 0;
}
.video_txt article{
    margin: 3rem 0;
}
.video_txt .grey{
    padding-bottom: 1rem;
    margin-right: 1rem;
}
.fa-play-circle,.fa-arrow-left,.fa-arrow-right{
    position: absolute;
    top: 50%;
}
.fa-play-circle{
        font-size: 5rem;
        left: 13rem;
        top: 6rem;
        color: white;
}
.fa-arrow-left{
    left: -3rem;
    font-size: 2rem;
}
.fa-arrow-right{
    right: -3rem;
    font-size: 2rem;
}
.video_txt article .col_50{
    position: relative;
}
.video_txt img{
    width: 100%;
    filter: brightness(.8);
}
.video_txt article h2{
    font-size: 2rem;
    margin-bottom: 1rem;
}
.video_txt .col_50:last-child{
    padding: 1.5rem 2rem;
}
/***************** utility */
.inline{
    display: inline-block;
}
.grey_btn{
    text-decoration: none;
    font-size: .8rem;
    color: black;
    border: 1px solid grey;
    padding: .3rem 1rem;
}
.w70{
    width: 70%;
    margin:3rem auto;
}
.right{
    float: right;
}
.no_link{
    text-decoration: none;
    color: black;
}
.col_20{
    width: 20%;
}
.col_33{
    width: 33.3%;
}
.col_50{
    width: 50%;
}
.left{
    float: left;
}
.grey{
    color: grey;
}
.green{
    background-color: green;
}
.violet{
    background-color: blueviolet;
}
.orange{
    background-color: orange;
}
.blue{
    background-color: blue;
}
.red{
    background-color: red;
}
/* effettistica */
.tendina li:hover{
    text-decoration: underline;
    color: #217EF5;
    padding: 0 1rem;
    border-left: 1px solid #217EF5;
}
.icon2{
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0%{
        transform: rotate(1turn);
    }
}
.grey_btn:hover{
    background-color: #217EF5;
    color: white;
    filter: brightness(70%) blur(5%);
    
}
.tab div:hover{
    filter: brightness(0.5);
}
.dati .col_33{
    transition: all 2s;
}
.dati .col_33:hover{
    transform: scale(120%);
}
.video_txt .grey:hover{
    color: black;
    border-bottom: 3px solid black;
    cursor: pointer;
}
.fa-play-circle:hover{
    cursor: pointer;
}
.video_txt img:hover{
    filter: brightness(1);
}
.video_txt .col_50:hover .fa-play-circle{
    color: red;
}
.fa-arrow-right,.fa-arrow-left{
    transition: all 1s;
}
.fa-arrow-right:hover,.fa-arrow-left:hover{
    transform:scale(70%)
}