/* genrali */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    min-width: 1440px;
    font-family:'Open Sans',sans-serif;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
/********************* header */
header{
    position: fixed;
    height: 4rem;
    width: 100%;
    z-index: 100;
    background-color: white;
}
.logo a,.botton,.menu{
    line-height: 4rem;
}
.logo img{
    height: 2rem;
    vertical-align: middle;
    padding: 0 1rem;
}

.menu{
    margin: 0 2rem;
}
header ul{
    list-style: none;
}
/* tendina a scomparsa */
.tendina{
    display: none;
}
.principale:hover .tendina{
    display: inline-block;
    background-color: white;
    padding: 0 1rem;
}
.icon2{
    display: none;
}
.principale:hover .icon2{
    display: inline-block;
}
.principale:hover .icon1{
    display: none;
}
/********************** main */
.hero_image{
    position: relative;
    height: 50rem;
}
.hero_image img{
    width: 100%;
    filter: saturate(.5);
    position: absolute;
    top: 0;
    left: 0;
}
h1{
    position: absolute;
    margin-top: 5rem;
    top: 0;
    left: 3rem;
    color: white;
    font-size: 5rem;
    width: 50%;
    padding: 1rem;
    background-color: #afafaf7a;
    border-radius: 3rem;
}
.big_txt{
    color:#217EF5 ;
    font-size: 8rem;
}
/* tabella aziende */
.tab_society{
    margin: 3rem auto;
    width: 70%;
    text-align: center;
}
.tab_society h2{
    font-size: 2rem;
    margin-bottom: 2rem;
}
.tab div{
    height: 10rem;
    border: 1px solid wheat;
    color: white;
}
/***************** utility */
.inline{
    display: inline-block;
}
.grey_btn{
    text-decoration: none;
    font-size: .8rem;
    color: black;
    border: 1px solid grey;
    padding: .3rem 1rem;
}
.right{
    float: right;
}
.no_link{
    text-decoration: none;
    color: black;
}
.col_20{
    width: 20%;
}
.left{
    float: left;
}
.green{
    background-color: green;
}
.violet{
    background-color: blueviolet;
}
.orange{
    background-color: orange;
}
.blue{
    background-color: blue;
}
.red{
    background-color: red;
}
/* effettistica */
.tendina li:hover{
    text-decoration: underline;
    color: #217EF5;
    padding: 0 1rem;
    border-left: 1px solid #217EF5;
}
.icon2{
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0%{
        transform: rotate(1turn);
    }
}
.grey_btn:hover{
    background-color: #217EF5;
    color: white;
    filter: brightness(70%) blur(5%);
    
}
